<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block pagetitle %}
    {% endblock %}
    {% load sass_tags %}
    <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='shortcut icon' type='image/x-icon' href='{% static "favicon.ico" %}' />

    <meta name="description" content="">
    <meta property="og:site_name" content="2017 Elections Explorer | The Daily Texan" />
    <meta property="og:title" content="2017 Elections Explorer | The Daily Texan" />
    <meta property="og:url" content="https://dailytexangov.me" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="After a particularly eventful year on the 40 Acres, we hope our campus wide elections explorer can be a useful tool in picking the campus leaders who will guide us into the next year." />
    <meta property="og:image" content='{% static "meta.png" %}' />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@thedailytexan">
    <meta name="twitter:creator" content="@_jun_tan">
    <meta name="twitter:title" content="2017 Student Government Election Explorer">
    <meta name="twitter:description" content="After a particularly eventful year on the 40 Acres, we hope our campus wide elections explorer can be a useful tool in picking the campus leaders who will guide us into the next year.">
    <meta name="twitter:image" content='{% static "meta.png" %}'>
</head>
<body>

<div class="top-bar navigation--main" id="main-navigation">
    <div class="top-bar-left">
        <a href="/" class="menu-text brand-text">UT-Austin Student Government Explorer</a>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li class="navigation--action__home">
                <a href="/elections" class="button navigation--action">Explorer Home</a>
            </li>
            {% block pagenav %}
            {% endblock %}
            <li class="navigation--share__facebook">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://dailytexangov.me" class="navigation--share facebook" target="blank" rel="noopener noreferrer">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li class="navigation--share__twitter">
                <a href="https://twitter.com/home?status=Election%20season%20at%20UT%20is%20underway%E2%80%94explore%20the%20candidates%20and%20make%20an%20informed%20decision%3A%20dailytexangov.me" class="navigation--share twitter" target="blank" rel="noopener noreferrer">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

{% block content %}
{% endblock %}

<footer class="utsg--footer flex-container flex-dir-column">
   <div class="utsg--footer__credits flex-child-auto">
       <p class="utsg--footer__copy">
           Developed by <em><a href="http://dailytexanonline.com" target="_blank" rel="noopener noreferrer" class="utsg--footer__copy">The Daily Texan</a></em>
       </p>
       <p class="utsg--footer__copy">
           Built by <a href="https://juntan.me" target="_blank" rel="noopener noreferrer" style="color: #fff;font-weight: bold;">Junyuan Tan</a> and <a href="https://github.com/talpallikar" target="_blank" rel="noopener noreferrer" style="color: #fff;font-weight: bold;">Arjun Talpallikar</a>
       </p>
   </div>
   <div class="utsg--footer__disclaimer flex-child-auto">
       <p class="utsg--footer__copy">
           Are you a candidate? <b><a href="/election/2017/add_candidate" class="utsg--footer__copy">Submit your information</a></b> to be included in this explorer.
       </p>
       <p class="utsg--footer__copy">
          This explorer will be updated as more data is received.
       </p>
   </div>
   <div class="utsg--footer__links flex-child-auto">
       <p class="utsg--footer__cta">Follow Us!</p>
       <ul class="menu">
           <li class="navigation--share__facebook footer">
               <a href="https://www.facebook.com/sharer/sharer.php?u=https://dailytexangov.me" class="navigation--share facebook footer" target="blank" rel="noopener noreferrer">
                   <i class="fa fa-facebook" aria-hidden="true"></i>
               </a>
           </li>
           <li class="navigation--share__twitter footer">
               <a href="https://twitter.com/home?status=Election%20season%20at%20UT%20is%20underway%E2%80%94explore%20the%20candidates%20and%20make%20an%20informed%20decision%3A%20dailytexangov.me" class="navigation--share twitter footer" target="blank" rel="noopener noreferrer">
                   <i class="fa fa-twitter" aria-hidden="true"></i>
               </a>
           </li>
           <li class="navigation--share__email footer">
               <a href="mailto:managingeditor@dailytexanonline.com?Subject=Student%20Government%20Explorer" class="navigation--share email footer" target="blank" rel="noopener noreferrer">
                   <i class="fa fa-envelope" aria-hidden="true"></i>
               </a>
           </li>
           <li class="navigation--share__github footer">
               <a href="https://github.com/sc1f/dtsg" class="navigation--share github footer" target="blank" rel="noopener noreferrer">
                   <i class="fa fa-github" aria-hidden="true"></i>
               </a>
           </li>
       </ul>
   </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'js/foundation.min.js' %}"></script>
<script src="{% static 'js/electionApp.js' %}"></script>
{% block scripts %}
{% endblock %}

</body>
</html>