{% extends 'elections/base.html' %}

{% block pagetitle %}
<title>{{ year }} {{ position.name }} | The Daily Texan</title>
{% endblock %}


{% block content %}
{% load bleach_tags %}
<div class="row">
    <div class="large-9 small-12 column" id="candidates">
        <h1 class="index--heading primary">{{ position.name }}</h1>
        {% if position.description %}
        <p class="index--copy">{{ position.description }}</p>
        {% endif %}
        {% if candidates_count == 1 %}
            <p class="index--subhead index--subhead__large">There is <span class="positions--candidates">{{ candidates_count }} candidate</span> for this position.</p>
        {% else %}
            <p class="index--subhead index--subhead__large">There are <span class="positions--candidates">{{ candidates_count }} candidates</span> for this position.</p>
        {% endif %}
        {% for candidate in Candidates %}
        {% if candidate.winner == True %}
        <div class="candidate--item card flex-container flex-dir-column" id="{{ candidate.name | slugify }}" data-magellan-target="{{ candidate.name | slugify }}">
            <div class="card-divider candidate--item__meta flex-container flex-dir-column winner">
                <div class="candidate--item__imgcontain flex-container flex-dir-column">
                {% if candidate.image %}
                    <div class="candidate--item__image container" style="background-image: url({{ candidate.image.url }});"></div>
                    <p class="candidate--image__credit winner">Photo Credit: {{ candidate.image_credit }}</p>
                {% else %}
                    <div class="candidate--item__image noimg flex-container flex-dir-column"><i class="fa fa-user fa-4x" aria-hidden="true"></i></div>
                </div>
                {% endif %}
                </div>
                <div class="candidate--item__details flex-container flex-dir-column winner">
                    <h3 class="candidate--item__name winner">Winner: {{ candidate.name }}</h3>
                    <p class="candidate--item__metainfo">Major: <b>{{ candidate.major }}</b></p>
                    <p class="candidate--item__metainfo">Year: <b>{{ candidate.year }}</b></p>
                    {% if candidate.votes_received %}
                    <p class="candidate--item__metainfo">This candidate received {{ candidate.votes_received }} votes, which was {{ candidate.percentage_of_votes }}% of the total vote.</p>
                    {% endif %}
                </div>
            </div>
            <div class="card-section">
                {% autoescape off %}
                <h5 class="candidate--item__heading">Statement</h5>
                <p class="candidate--item__copy">{{ candidate.statement | linebreaks | safe}}</p>
                <h5 class="candidate--item__heading">Platform</h5>
                <p class="candidate--item__copy">{{ candidate.platform | linebreaks | safe}}</p>
                {% endautoescape %}
            </div>
            <div class="card-section candidate--item__social flex-container flex-dir-row">
                {% if candidate.facebook %}
                <a class="candidate--social__item flex-container flex-dir-column" href="{{ candidate.facebook }}" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-facebook fa-lg"></i>
                </a>
                {% endif %}
                {% if candidate.twitter %}
                <a class="candidate--social__item flex-container flex-dir-column" href="{{ candidate.twitter }}" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-twitter fa-lg"></i>
                </a>
                {% endif %}
                {% if candidate.website %}
                <a class="candidate--social__item flex-container flex-dir-column" href="{{ candidate.website }}" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-globe fa-lg"></i>
                </a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for candidate in Candidates %}
        {% if candidate.winner == False %}
            <div class="candidate--item card flex-container flex-dir-column" id="{{ candidate.name | slugify }}" data-magellan-target="{{ candidate.name | slugify }}">
                <div class="card-divider candidate--item__meta flex-container flex-dir-column">
                    <div class="candidate--item__imgcontain flex-container flex-dir-column">
                    <div class="candidate--item__image container">
                        {% if candidate.image %}
                        <div class="candidate--item__image container" style="background-image: url({{ candidate.image.url }});"></div>
                        <p class="candidate--image__credit winner">Photo Credit: {{ candidate.image_credit }}</p>
                        {% else %}
                        <div class="candidate--item__image noimg flex-container flex-dir-column"><i class="fa fa-user fa-4x" aria-hidden="true"></i></div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="candidate--item__details flex-container flex-dir-column">
                        <h3 class="candidate--item__name">{{ candidate.name }}</h3>
                        <p class="candidate--item__metainfo">Major: <b>{{ candidate.major }}</b></p>
                        <p class="candidate--item__metainfo">Year: <b>{{ candidate.year }}</b></p>
                        {% if candidate.votes_received %}
                        <p class="candidate--item__metainfo">This candidate received {{ candidate.votes_received }} votes, which was {{ candidate.percentage_of_votes }}% of the total vote.</p>
                        {% endif %}
                    </div>
                </div>

                <div class="card-section">
                    {% autoescape off %}
                    <h5 class="candidate--item__heading">Statement</h5>
                    <p class="candidate--item__copy">{{ candidate.statement | linebreaks | bleach}}</p>
                    <h5 class="candidate--item__heading">Platform</h5>
                    <p class="candidate--item__copy">{{ candidate.platform | linebreaks | bleach}}</p>
                    {% endautoescape %}
                </div>
                <div class="card-section candidate--item__social flex-container flex-dir-row">
                    {% if candidate.facebook %}
                    <a class="candidate--social__item flex-container flex-dir-column" href="{{ candidate.facebook }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    {% endif %}
                    {% if candidate.twitter %}
                    <a class="candidate--social__item flex-container flex-dir-column" href="{{ candidate.twitter }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                    {% endif %}
                    {% if candidate.website %}
                    <a class="candidate--social__item flex-container flex-dir-column" href="{{ candidate.website }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-globe fa-lg"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% endfor %}

    </div>
    <div class="large-3 small-12 column candidate--magellan__container" data-sticky-container>
        <nav class="columns sticky" data-sticky data-anchor="candidates" data-sticky-on="large">
            <ul class="vertical menu candidate--magellan" data-magellan data-active-class="candidate--magellan__active">
                <li class="candidate--magellan__header">Candidates</li>
                {% for candidate in Candidates %}
                {% if candidate.winner == True %}
                <li>
                    <a class="candidate--magellan__item" href="#{{ candidate.name | slugify }}">{{ candidate.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% for candidate in Candidates %}
                {% if candidate.winner == False %}
                    <li>
                        <a class="candidate--magellan__item" href="#{{ candidate.name | slugify }}">{{ candidate.name }}</a>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
<div class="navigation--breadcrumbs__container flex-container">
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/elections">Home</a></li>
            <li><a href="/elections/{{ year }}">{{ election.year }} Election Data</a></li>
            <li><a href="/elections/{{ year }}/race/{{ race.id }}">{{ race.name }}</a></li>
            <li>
                <span class="show-for-sr">Current: </span> {{ position.name }}
            </li>
        </ul>
    </nav>
</div>

{% endblock %}


