{% extends 'elections/base.html' %}

{% block pagetitle %}
<title>{{ year }} {{ position.name }} | The Daily Texan</title>
{% endblock %}


{% block content %}
<div class="row">
    <div class="large-9 small-12 column" id="candidates">
        <h1 class="index--heading">{{ position.name }}</h1>
        {% if candidates_count == 1 %}
            <p class="index--subhead index--subhead__large">There is <span class="positions--candidates">{{ candidates_count }} candidate</span> for this position.</p>
        {% else %}
            <p class="index--subhead index--subhead__large">There are <span class="positions--candidates">{{ candidates_count }} candidates</span> for this position.</p>
        {% endif %}
        {% for candidate in Candidates %}
        {% if candidate.winner == True %}
        <div class="candidate--item card flex-container flex-dir-column" id="{{ candidate.name | slugify }}" data-magellan-target="{{ candidate.name | slugify }}">
            <div class="card-divider candidate--item__meta flex-container flex-dir-column winner">
                {% load staticfiles %}
                <div class="candidate--item__imgcontain flex-container flex-dir-column">
                <div class="candidate--item__image container">
                {% if candidate.image %}
                    <img class="candidate--item__image img" src="{% static candidate.image %}" alt="{{ candidate.name }}">
                </div>
                <p class="candidate--image__credit winner">Photo Credit: {{ candidate.image_credit }}</p>
                {% else %}
                    <div class="candidate--item__image noimg flex-container flex-dir-column"><i class="fa fa-user fa-4x" aria-hidden="true"></i></div>
                </div>
                {% endif %}
                </div>
                <div class="candidate--item__details flex-container flex-dir-column winner">
                    <h3 class="candidate--item__name winner">Winner: {{ candidate.name }}</h3>
                    <p class="candidate--item__metainfo">{{ candidate.major }}</p>
                    <p class="candidate--item__metainfo">{{ candidate.year }}</p>
                </div>
            </div>
            <div class="card-section">
                <h5 class="candidate--item__heading">Statement</h5>
                <p class="candidate--item__copy">{{ candidate.statement }}</p>
                <h5 class="candidate--item__heading">Platform</h5>
                <p class="candidate--item__copy">{{ candidate.platform }}</p>
            </div>
            <div class="card-section candidate--item__social flex-container flex-dir-row">
                <a class="candidate--social__item flex-container flex-dir-column" href="/" target="_blank" rel="nofollow noreferrer">
                    <i class="fa fa-facebook fa-lg"></i>
                </a>
                <a class="candidate--social__item flex-container flex-dir-column" href="/" target="_blank" rel="nofollow noreferrer">
                    <i class="fa fa-twitter fa-lg"></i>
                </a>
                <a class="candidate--social__item flex-container flex-dir-column" href="/" target="_blank" rel="nofollow noreferrer">
                    <i class="fa fa-globe fa-lg"></i>
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% for candidate in Candidates %}
        {% if candidate.winner == False %}
            <div class="candidate--item card flex-container flex-dir-column" id="{{ candidate.name | slugify }}" data-magellan-target="{{ candidate.name | slugify }}">
                <div class="card-divider candidate--item__meta flex-container flex-dir-column">
                    <div class="candidate--item__imgcontain flex-container flex-dir-column">
                    <div class="candidate--item__image container">
                        {% load staticfiles %}
                        {% if candidate.image %}
                            <img class="candidate--item__image img" src="{% static candidate.image %}" alt="{{ candidate.name }}">
                        </div>
                        <p class="candidate--image__credit">Photo Credit: {{ candidate.image_credit }}</p>
                        {% else %}
                        <div class="candidate--item__image noimg flex-container flex-dir-column"><i class="fa fa-user fa-4x" aria-hidden="true"></i></div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="candidate--item__details flex-container flex-dir-column">
                        <h3 class="candidate--item__name">{{ candidate.name }}</h3>
                        <p class="candidate--item__metainfo">{{ candidate.major }}</p>
                        <p class="candidate--item__metainfo">{{ candidate.year }}</p>
                    </div>
                </div>

                <div class="card-section">
                    <h5 class="candidate--item__heading">Statement</h5>
                    <p class="candidate--item__copy">{{ candidate.statement }}</p>
                    <h5 class="candidate--item__heading">Platform</h5>
                    <p class="candidate--item__copy">{{ candidate.platform }}</p>
                </div>
                <div class="card-section candidate--item__social flex-container flex-dir-row">
                    <a class="candidate--social__item flex-container flex-dir-column" href="/" target="_blank" rel="nofollow noreferrer">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a class="candidate--social__item flex-container flex-dir-column" href="/" target="_blank" rel="nofollow noreferrer">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                    <a class="candidate--social__item flex-container flex-dir-column" href="/" target="_blank" rel="nofollow noreferrer">
                        <i class="fa fa-globe fa-lg"></i>
                    </a>
                </div>
            </div>
        {% endif %}
        {% endfor %}

    </div>
    <div class="large-3 small-12 column candidate--magellan__container" data-sticky-container>
        <nav class="columns sticky" data-sticky data-anchor="candidates" data-sticky-on="large">
            <ul class="vertical menu candidate--magellan" data-magellan data-active-class="candidate--magellan__active">
                <li class="candidate--magellan__header">Candidates</li>
                {% for candidate in Candidates %}
                {% if candidate.winner == True %}
                <li>
                    <a class="candidate--magellan__item" href="#{{ candidate.name | slugify }}">{{ candidate.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% for candidate in Candidates %}
                {% if candidate.winner == False %}
                    <li>
                        <a class="candidate--magellan__item" href="#{{ candidate.name | slugify }}">{{ candidate.name }}</a>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
<div class="navigation--breadcrumbs__container flex-container">
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/elections">Home</a></li>
            <li><a href="/elections/{{ year }}">{{ election.year }} Election Data</a></li>
            <li><a href="/elections/{{ year }}/race/{{ race.id }}">{{ race.name }}</a></li>
            <li>
                <span class="show-for-sr">Current: </span> {{ position.name }}
            </li>
        </ul>
    </nav>
</div>

{% endblock %}


