{% extends 'elections/base.html' %}

{% block pagetitle %}
<title>{{ election.year }} UT-Austin Student Government Elections | The Daily Texan</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 column">
            <h1>{{ election.year }} Elections</h1>
            <p>{{ election.description }}</p>
            {% for race in races %}
            <a href="/elections/{{ election.year }}/race/{{ race.id }}">{{ race.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
