{% extends 'elections/base.html' %}

{% block pagetitle %}
<title>UT-Austin Student Government Elections | The Daily Texan</title>
{% endblock %}

{% block pagenav %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="small-12 columns">
        <h1 class="index--heading">Election Data</h1>
        <p class="index--subhead">Find candidates, platforms, results, and more:</p>
        <div class="index--container flex-container flex-dir-column">
            {% for election in Elections %}
            <a href="/elections/{{ election.year }}" class="elections--item flex-container flex-dir-column">
                <h1 class="elections--item__year">{{ election.year }}</h1>
                {% if election.has_passed == False %}
                <p class="elections--item__date">Election Day: <br>{{ election.election_date|date:"l, F jS" }}</p>
                {% endif %}
            </a>
            {% endfor %}
        </div>
        <p class="index--copy">
            Election season is upon us. Explore the candidates for each position, their platforms and statements, and make an informed decision on election day!
        </p>
    </div>
</div>
{% endblock %}}