{% extends 'templates/base.html' %}

{% block pagenav %}
<div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
        <li>
            <a href="#">Select an </a>
            <ul class="menu vertical">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}

<h1>RACE</h1>
<h3>{{ race.name }}</h3>
{% for candidate in Candidates %}
    <a href="/elections/{{ year }}/{{ race.id }}/candidate/{{ candidate.id }}">{{ candidate.name }}</a>
{% endfor %}
