{% extends 'elections/base.html' %}

{% block pagetitle %}
<title>Thank You! | The Daily Texan</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="small-12 medium-2 column" ></div>
    <div class="small-12 medium-8 column">
        <h1 class="index--heading survey--heading">Thank You!</h1>
        <h3 class="index--subhead survey--subhead">Your information has been received.</h3>
        <p class="index--copy">We will verify and post your candidate information ASAP.</p>
    </div>
    <div class="small-12 medium-2 column" ></div>
</div>
{% endblock %}}