staticfiles
.env
dtsg_dump
/share
/elections/static/css/main.css
/elections/static/css/main.css.map
.idea
.DS_Store
db.dt_sg
db.sqlite3
elections/__pycache__/*
__pycache__
/assets/images
*.pyc
dt_sg/settings_secret.py
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
