bleach==1.5.0
boto3==1.4.4
botocore==1.5.16
Django==1.10.5
django-appconf==1.0.2
django-bleach==0.3.0
django-compressor==2.1.1
django-imagekit==3.3
django-storages==1.5.2
django-sass-processor==0.5.3
django-tinymce==2.6.0
docutils==0.13.1
html5lib==0.9999999
jmespath==0.9.1
libsass==0.12.3
olefile==0.44
pilkit==2.0
Pillow==4.0.0
psycopg2==2.6.2
pygeoip==0.3.2
python-dateutil==2.6.0
rcssmin==1.0.6
rjsmin==1.0.12
s3transfer==0.1.10
six==1.10.0
