appdirs==1.4.0
bleach==1.5.0
Django==1.10.5
django-appconf==1.0.2
django-bleach==0.3.0
django-compressor==2.1.1
django-imagekit==3.3
django-sass-processor==0.5.3
django-tinymce==2.6.0
gunicorn==19.6.0
html5lib==0.9999999
libsass==0.12.3
olefile==0.44
packaging==16.8
pilkit==2.0
Pillow==4.0.0
psycopg2==2.6.2
pyparsing==2.1.10
rcssmin==1.0.6
requests==2.13.0
rjsmin==1.0.12
six==1.10.0
tinify==1.4.0
tornado==4.4.2
