{% extends 'elections/base.html' %}

{% block pagetitle %}
<title>404 | The Daily Texan Student Government Explorer</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="small-12 columns">
        <h1 class="index--heading">Yikes!</h1>
        <p class="index--subhead">The page you were looking for was not found.</p>
        <p class="index--copy">Return <a href="/">Home</a>, or <a href="mailto:managingeditor@dailytexanonline.com?Subject=Student%20Government%20Explorer">let us know</a> about what caused this issue and we will investigate!</p>
    </div>
</div>
{% endblock %}}